

<!DOCTYPE html>
<html>
<head>
  <title>Taskly | Record Tasks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div id="myDIV" class="bg-blue-500 py-5 text-white text-center">
  <h2 class="text-2xl">Taskly: A place where you record your tasks</h2>
  <form action="" method="POST" class="mt-5">
    {% csrf_token %}
    <input type="text" name="title" id="myInput" placeholder="Title..." class="text-black py-2 px-3 w-3/4 border rounded-lg" />
    <button type="submit" class="addBtn bg-gray-300 text-gray-600 py-2 px-3 ml-2 rounded-lg">Add</button>
  </form>
</div>

<ul id="myUL" class="mt-5">
  {% for todos in todo reversed %}
  <li class="py-3 px-4 bg-gray-100 text-lg rounded-lg mb-2 flex items-center justify-between">
    {{todos.title | title}}
    <span class="close">
      <a href="delete/{{todos.id}}" class="text-yellow-500 text-lg no-underline hover:underline">Delete</a>
    </span>
  </li>
  {% endfor %}
</ul>

<footer class="mt-5 p-6 bg-gray-900 ">
  <p class="text-xs text-gray-400 ">
      Copyright (c) 2023 - Taskly
  </p>
</footer>
</body>
</html>
